<div class="card bg-dark text-white mt-5">
      <div class="d-flex justify-content-end">

        <button type="button" class="btn btn-danger sm-2" routerLink="/clientes">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-escape" viewBox="0 0 16 16">
          <path d="M8.538 1.02a.5.5 0 1 0-.076.998 6 6 0 1 1-6.445 6.444.5.5 0 0 0-.997.076A7 7 0 1 0 8.538 1.02Z"></path>
          <path d="M7.096 7.828a.5.5 0 0 0 .707-.707L2.707 2.025h2.768a.5.5 0 1 0 0-1H1.5a.5.5 0 0 0-.5.5V5.5a.5.5 0 0 0 1 0V2.732l5.096 5.096Z"></path>
          </svg>
          Salir
        </button>
      </div>
      <div class="card-header d-flex justify-content-center">{{titulo}}
  </div>

  <div class="card-body ">
    <form>
      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="clientes.nombre" name="nombre">
        </div>
      </div>

      <div class="form-group row">
        <label for="descripcion" class="col-form-label col-sm-2">Descripcion</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="clientes.descripcion" name="descripcion">
        </div>
      </div>

      <div class="form-group row">
        <label for="activo" class="col-form-label col-sm-2">Activo</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="clientes.activo" name="activo">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" *ngIf="clientes.id == 0" (click)="create()">crear</button>

            <button class="btn btn-primary" role="button" *ngIf="clientes.id != 0" (click)="updateCliente()">editar</button>
        </div>
      </div>
    </form>
  </div>
</div>
